camera_hand_interpreter.spec
__pycache__/camera_hand_interpreter.cpython-37.pyc
build/camera_hand_interpreter/Analysis-00.toc
build/camera_hand_interpreter/Tree-02.toc
build/camera_hand_interpreter/Tree-01.toc
build/camera_hand_interpreter/Tree-00.toc
build/camera_hand_interpreter/PYZ-00.toc
build/camera_hand_interpreter/PYZ-00.pyz
build/camera_hand_interpreter/PKG-00.toc
build/camera_hand_interpreter/EXE-00.toc
build/camera_hand_interpreter/xref-camera_hand_interpreter.html
dist/camera_hand_interpreter.exe
build/camera_hand_interpreter/warn-camera_hand_interpreter.txt
build/camera_hand_interpreter/camera_hand_interpreter.pkg
build/camera_hand_interpreter/camera_hand_interpreter.exe.manifest
build/camera_hand_interpreter/base_library.zip
